<!-- Footer -->
<footer class="footer bg-white">

  <!-- Footer Top Area -->
  <div class="footer-toparea">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-12">
          <div class="footer-widget widget-info">
            <h5 class="footer-widget-title">بيانات الإتصال بنا</h5>
            <p>اهلا بكم فى سوق الجمل نتمى لكم خدمة على مستوى من الجودة</p>
            <ul>
              <li><i class="ion ion-ios-pin"></i>٣٢ شارع عمر بن الخطاب متفرع من شارع جدة المهندسين</li>
              <li><i class="ion ion-ios-call"></i>إتصل بنا : ٠١١٥٣٢٠٦٠٥٠</li>
              <li><i class="ion ion-ios-mail"></i> الإيميل : <a>elgamalcomputer@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4" *ngIf="this.sharingDataService.loggedIn == true">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">حسابي</h5>
            <ul>
              <li>
                <a (click)="navigateToMyaccountPage(2)">تعديل الحساب</a>
              </li>
              <li>
                <a (click)="navigateToMyaccountPage(3)">المفضلة</a>
              </li>
              <li>
                <a (click)="navigateToMyaccountPage(1)">طلباتي</a>
              </li>
              <li *ngIf="loggedInFlag == false">
                <a [routerLink]="['/default.aspx/login-register']">تسجيل الدخول</a>
              </li>
              <li>
                <a (click)="logout()" style="cursor:pointer">تسجيل الخروج</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">للتواصل معنا</h5>
            <ul>
              <li>
                <a [routerLink]="['/default.aspx/How-We-Are']">من نحن</a>
              </li>

              <li>
                <a [routerLink]="['/default.aspx/About-Us']"> اتصل بنا</a>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-3 col-md-4">
          <div class="newsletter-socialicons socialicons socialicons-radial">
            <ul>
              <li><a href="https://www.facebook.com/elgammalshop/" target="_blank"><i
                    class="ion ion-logo-facebook"></i></a></li>
              <li><a href="#"><i class="ion ion-logo-instagram"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--// Footer Top Area -->

  <!-- Footer Bottom -->
  <div class="footer-bottomarea">
    <div class="container">
      <div class="footer-copyright">
        <p class="copyright">جميع الحقوق محفوظة للجمل شوب</p>
      </div>
    </div>
  </div>
  <!--// Footer Bottom -->

</footer>
<!--// Footer -->