<!-- Footer -->
<footer class="footer bg-white">

  <!-- Footer Top Area -->
  <div class="footer-toparea">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-12">
          <div class="footer-widget widget-info">
            <h5 class="footer-widget-title">بيانات الإتصال بنا</h5>
            <p>اهلا بكم فى سوق الجمل نتمى لكم خدمة على مستوى من الجودة</p>
            <ul>
              <li><i class="ion ion-ios-pin"></i>32 شارع ابن الخطاب - المهندسين</li>
              <li><i class="ion ion-ios-call"></i>إتصل بنا : 01148444018</li>
              <li><i class="ion ion-ios-mail"></i> الإيميل : <a href="#">info@elgamal.shop</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">حسابي</h5>
            <ul>
              <li><a href="#">تعديل الحساب</a></li>
              <li><a href="#">المفضلة</a></li>
              <li><a href="#">طلباتي</a></li>
              <li><a href="#">نسجيل الدخول</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">للتواصل معنا</h5>
            <ul>
              <li><a href="#">الرئيسية</a></li>

              <li><a href="#">اتصل بنا</a></li>
              <li><a href="#">من نحن</a></li>
              <li><a href="#">أخبار الجمل</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-4">
          <div class="footer-widget widget-links">
            <h5 class="footer-widget-title">الحقوق و السياسات</h5>
            <ul>
              <li><a href="#">سياية إرجاع المنتجات</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="newsletter-socialicons socialicons socialicons-radial">
            <ul>
              <li><a href="https://www.facebook.com/elgammalshop/" target="_blank"><i class="ion ion-logo-facebook"></i></a></li>
              <li><a href="#"><i class="ion ion-logo-instagram"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--// Footer Top Area -->

  <!-- Footer Bottom -->
  <div class="footer-bottomarea">
    <div class="container">
      <div class="footer-copyright">
        <p class="copyright">جميع الحقوق محفوظة للجمل شوب</p>
      </div>
    </div>
  </div>
  <!--// Footer Bottom -->

</footer>
<!--// Footer -->