<!-- Checkout Area -->
<div class="checkout-area bg-white ptb-30">
  <div class="container">

    <form role="form" #makeOrderForm="ngForm" class="billing-info">
      <div class="row">

        <!-- Billing Details -->
        <div class="col-lg-6">

          <h3 class="small-title">تفاصيل الشحن</h3>
          <div class="ho-form">

            <div class="single-input single-input-half">
              <label for="customer-phone">رقم الهاتف *</label>
              <input type="number" name="customer-phone" id="customer-phone" [(ngModel)]="orderData.phone"
              #customerPhoneControl="ngModel" required>
              <div class="valid-feedback" *ngIf="customerPhoneControl.errors?.required && (customerPhoneControl.dirty || saveFormCheckout == true)">
                يجب إدخال هذا الحقل
              </div>
            </div>

            <br>

            <div class="single-input single-input-half">
              <label for="customer-address">العنوان *</label>
              <textarea type="text" name="customer-address" id="customer-address" [(ngModel)]="orderData.address"
              #customerAddressControl="ngModel" required></textarea>
              <div class="valid-feedback" *ngIf="customerAddressControl.errors?.required && (customerAddressControl.dirty || saveFormCheckout == true)">
                  يجب إدخال هذا الحقل
                </div>
            </div>

          </div>
        </div>
        <!--// Billing Details -->


        <!-- Place Order -->
        <div class="col-lg-6">
          <div class="order-infobox">
            <h3 class="small-title">بيانات الطلب</h3>
            <div class="checkout-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-left">المنتج</th>
                    <th class="text-right">الإجمالي</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let x of orderData.cartData.selectedProducts">
                    <td class="text-left">{{x.name}}<span>× {{x.NumberOfItems}}</span></td>
                    <td class="text-right">{{x.priceAfter * x.NumberOfItems}} ج.م</td>
                  </tr>

                </tbody>
                <tfoot>
                  <tr>
                    <th class="text-left">إجمالي سعر المنتجات</th>
                    <td class="text-right">{{orderData.cartData.productsPrice}} ج.م</td>
                  </tr>
                  <tr>
                    <th class="text-left">التوصيل</th>
                    <td class="text-right">{{orderData.cartData.shipingPrice}} ج.م</td>
                  </tr>
                  <tr class="total-price">
                    <th class="text-left">الإجمالي</th>
                    <td class="text-right">{{orderData.cartData.totalPrice}} ج.م</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="payment-method">

              <div class="check-payment">
                <input type="checkbox" name="payment-method" id="checkout-payment-method-1" class="ho-radio" checked="checked">
                <label for="checkout-payment-method-1">الدفع عندالإستلام</label>
              </div>

            </div>
            <button class="ho-button ho-button-fullwidth mt-30" (click)="makeOrder()">
              <span>إتمام الشراء</span>
            </button>
          </div>
        </div>
        <!--// Place Order -->

      </div>
    </form>

  </div>
</div>
<!--// Checkout Area -->