<main class="page-content">

    <!-- Contact Us Area -->
    <div class="contact-us-area ptb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 pt-50 pt-lg-0">
                    <h2>اتصل بنا</h2>
                    <div class="contact-content">
                        <div class="single-content">
                            <span class="single-content-icon">
                                <i class="lnr lnr-map-marker"></i>
                            </span>
                            <br>
                           32 شارع ابن الخطاب - المهندسين
                      

                          </div>
                        <div class="single-content">
                            <span class="single-content-icon">
                                <i class="lnr lnr-phone-handset"></i>
                            </span>
                            <br>
                            <a>01148444018</a>
                        </div>
                        <div class="single-content">
                            <span class="single-content-icon">
                                <i class="lnr lnr-envelope"></i>
                            </span>
                            <br>
                            <a>info@elgamal.shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>