<main class="page-content">

  <!-- Product Details Area -->
  <div class="product-details-area bg-white ptb-30">
    <div class="container" >

      <div class="pdetails">
        <div class="row">
          <div class="col-lg-6">
            <div class="pdetails-images">
              <div class="pdetails-largeimages pdetails-imagezoom">
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product1-2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
              </div>

              <div class="pdetails-thumbs">
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product1-2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product1-2.jpg" alt="product thumb">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pdetails-content">

              <div class="rattingbox">
                <span class="active"><i class="ion ion-ios-star"></i></span>
                <span class="active"><i class="ion ion-ios-star"></i></span>
                <span class="active"><i class="ion ion-ios-star"></i></span>
              </div>
              <h3>{{product.name}}</h3>
              <div class="pdetails-pricebox">
                <del class="oldprice">ج.م {{product.priceBefore}} </del>
                <span class="price">ج.م {{product.priceAfter}}</span>
                <span class="badge">Save {{product.discountPercentage}}</span>
              </div>
              <p>{{product.description}}</p>
              <div class="pdetails-quantity">
                <div class="quantity-select">
                  <input type="text" value="1">
                  <div class="inc qtybutton">+<i class="ion ion-ios-arrow-up"></i></div>
                  <div class="dec qtybutton">-<i class="ion ion-ios-arrow-down"></i></div>
                </div>
                <a href="shop-rightsidebar.html" class="ho-button">
                  <i class="lnr lnr-cart"></i>
                  <span>أضف إلي العربة</span>
                </a>
              </div>
              <div class="pdetails-categories">
                <span>القسم :</span>
                <ul>
                  <li><a href="#">الهواتف</a></li>
                </ul>
              </div>
              <div class="pdetails-tags">
                <span>الكلمات الدالة : </span>
                <ul>
                  <li><a href="#">الهواتف</a></li>
                  <li><a href="#">هواوي</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pdetails-allinfo">

        <ul class="nav pdetails-allinfotab justify-content-center" id="product-details" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="product-details-area1-tab" data-toggle="tab" href="#product-details-area1"
              role="tab" aria-controls="product-details-area1" aria-selected="true">الوصف</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-details-area3-tab" data-toggle="tab" href="#product-details-area3"
              role="tab" aria-controls="product-details-area3" aria-selected="false">التقييم (25)</a>
          </li>
        </ul>

        <div class="tab-content" id="product-details-ontent">
          <div class="tab-pane fade show active" id="product-details-area1" role="tabpanel"
            aria-labelledby="product-details-area1-tab">
            <div class="pdetails-description">
              <p>{{product.description}}</p>
              <ul>
                <li *ngFor="let x of product.ProductOptions">{{x.optionText}}</li>
              </ul>
            </div>
          </div>

          <div class="tab-pane fade" id="product-details-area3" role="tabpanel"
            aria-labelledby="product-details-area3-tab">
            <div class="pdetails-reviews">
              <div class="product-review">
                <div class="commentlist">
                  <h5>التعليقات و التقيمات</h5>
                  <div class="single-comment">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة أحمد محمد .... في 22 أغسطس 2018</h6>
                        <div class="rattingbox">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>هذا المنتج رائع يستحق التجربة .</p>
                    </div>
                  </div>

                  <div class="single-comment">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة أحمد محمد .... في 22 أغسطس 2018</h6>
                        <div class="rattingbox">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>هذا المنتج رائع يستحق التجربة .</p>
                    </div>
                  </div>
                  <div class="single-comment">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة أحمد محمد .... في 22 أغسطس 2018</h6>
                        <div class="rattingbox">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>هذا المنتج رائع يستحق التجربة .</p>
                    </div>
                  </div>
                </div>
                <div class="commentbox mt-5">
                  <h5>أضف تعليقك و تقييمك</h5>
                  <form action="#" class="ho-form">
                    <div class="ho-form-inner">
                      <div class="single-input">
                        <label>التقييم</label>
                        <div class="rattingbox hover-action">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span><i class="ion ion-ios-star"></i></span>
                          <span><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <div class="single-input">
                        <label for="new-review-textbox">التعليق</label>
                        <textarea id="new-review-textbox" cols="30" rows="5"></textarea>
                      </div>
                      <div class="single-input">
                        <label for="new-review-name">الإسم *</label>
                        <input type="text" id="new-review-name">
                      </div>
                      <div class="single-input">
                        <label for="new-review-email">الإيميل *</label>
                        <input type="email" id="new-review-email">
                      </div>
                      <div class="single-input">
                        <button class="ho-button" type="submit"><span>إرسال</span></button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--// Product Details Area -->
</main>