<main class="page-content">

  <!-- Product Details Area -->
  <div class="product-details-area bg-white ptb-30">
    <div class="container">

      <div class="pdetails">
        <div class="row">
          <div class="col-lg-6">
            <div class="pdetails-images">
              <div class="pdetails-largeimages pdetails-imagezoom">
                <div class="pdetails-singleimage"
                  *ngFor="let x of product.images">
                  <img [src]="x.imageUrl" alt="product image">
                </div>
              </div>

              <div class="pdetails-thumbs">
                <div class="pdetails-singlethumb" *ngFor="let x of product.images">
                  <img [src]="x.imageUrl" alt="product thumb">
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pdetails-content">

              <div class="rattingbox">
                <span class="active" *ngIf="product.rate >= 1" ><i class="ion ion-ios-star"></i></span>
                <span class="active" *ngIf="product.rate >= 2" ><i class="ion ion-ios-star"></i></span>
                <span class="active" *ngIf="product.rate >= 3" ><i class="ion ion-ios-star"></i></span>
                <span class="active" *ngIf="product.rate >= 4" ><i class="ion ion-ios-star"></i></span>
                <span class="active" *ngIf="product.rate >= 5" ><i class="ion ion-ios-star"></i></span>
              </div>

              <h3>{{product.name}}</h3>
              <div class="pdetails-pricebox">
                <del class="oldprice">ج.م {{product.priceBefore}} </del>
                <span class="price">ج.م {{product.priceAfter}}</span>
                <span class="badge">خصم {{product.discountPercentage}}</span>
              </div>
              <p>{{product.description}}</p>

              <div class="pdetails-categories">
                <span>القسم :</span>
                <ul>
                  <li>{{product.parentCategoryName}}</li>
                </ul>
              </div>

              <div class="pdetails-quantity">
                <button class="ho-button" (click)="AddToCart(product.ID)">
                  <i class="lnr lnr-cart"></i>&nbsp;
                  <span> أضف إلي العربة </span>
                </button>
              </div>
            
              
            </div>
          </div>
        </div>
      </div>

      <div class="pdetails-allinfo">

        <ul class="nav pdetails-allinfotab justify-content-center" id="product-details" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="product-details-area1-tab" data-toggle="tab" href="#product-details-area1"
              role="tab" aria-controls="product-details-area1" aria-selected="true">الوصف</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-details-area3-tab" data-toggle="tab" href="#product-details-area3"
              role="tab" aria-controls="product-details-area3" aria-selected="false">التقييم ({{product.Comments.length}})</a>
          </li>
        </ul>

        <div class="tab-content" id="product-details-ontent">
          <div class="tab-pane fade show active" id="product-details-area1" role="tabpanel"
            aria-labelledby="product-details-area1-tab">
            <div class="pdetails-description">
              <p>{{product.description}}</p>
              <ul>
                <li *ngFor="let x of product.ProductOptions">{{x.optionText}}</li>
              </ul>
            </div>
          </div>

          <div class="tab-pane fade" id="product-details-area3" role="tabpanel"
            aria-labelledby="product-details-area3-tab">
            <div class="pdetails-reviews">
              <div class="product-review">
                <div class="commentlist" *ngIf="product.Comments.length > 0" id="ReviewsAndComments" >
                  <h5>التعليقات و التقيمات</h5>

                  <div class="single-comment" *ngFor="let h of product.Comments">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة ... {{h.userName}}</h6>
                        <div class="rattingbox">
                          <span [ngClass]="{'active': h.ratingValue >= 1 }"><i class="ion ion-ios-star"></i></span>
                          <span [ngClass]="{'active': h.ratingValue >= 2 }"><i class="ion ion-ios-star"></i></span>
                          <span [ngClass]="{'active': h.ratingValue >= 3 }"><i class="ion ion-ios-star"></i></span>
                          <span [ngClass]="{'active': h.ratingValue >= 4 }"><i class="ion ion-ios-star"></i></span>
                          <span [ngClass]="{'active': h.ratingValue >= 5 }"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>{{h.commentText}}</p>
                    </div>
                  </div>

                </div>
                <div class="commentbox mt-5" *ngIf="userLoggedIn == true">
                  <h5>أضف تعليقك و تقييمك</h5>
                  <form action="#" class="ho-form" #AddCommentForm="ngForm">
                    <div class="ho-form-inner">

                      <div class="single-input">
                        <label>التقييم</label>
                        <div class="rattingbox hover-action">
                          <span class="active starsRate"><i class="ion ion-ios-star"></i></span>
                          <span class="active starsRate"><i class="ion ion-ios-star"></i></span>
                          <span class="active starsRate"><i class="ion ion-ios-star"></i></span>
                          <span class="starsRate"><i class="ion ion-ios-star"></i></span>
                          <span class="starsRate"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>

                      <div class="single-input">
                        <label for="userComment">التعليق</label>
                        <textarea id="userComment" name="userComment" cols="30" rows="5"
                          [(ngModel)]="CommentDto.commentText" #userCommentControl="ngModel" required></textarea>

                        <div class="invalid-feedback"
                          *ngIf="userCommentControl.errors?.required && (userCommentControl.dirty || saveForm == true)">
                          يجب إدخال هذا الحقل
                        </div>

                      </div>

                      <div class="single-input">
                        <button class="ho-button" (click)="AddComment()"><span>إرسال</span></button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--// Product Details Area -->
</main>
  
  <!-- Modal -->
  <div class="modal fade" id="confirmAddCommentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" style="text-align: center">لقد تم إضافة تعليقك بنجاح</div>  
      </div>
    </div>
  </div>

   <!-- Modal -->
 <div class="modal fade" id="confirmAddNewItemModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">لقد تم إضافة منتج جديد إلي العربة</div>  
    </div>
  </div>
</div>