<main class="page-content">

  <!-- Product Details Area -->
  <div class="product-details-area bg-white ptb-30">
    <div class="container">

      <div class="pdetails">
        <div class="row">
          <div class="col-lg-6">
            <div class="pdetails-images">
              <div class="pdetails-largeimages pdetails-imagezoom">
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product1-2.jpg" alt="product image">
                </div>
                <div class="pdetails-singleimage" data-src="assets/images/products/product2.jpg">
                  <img src="assets/images/products/product2.jpg" alt="product image">
                </div>
              </div>

              <div class="pdetails-thumbs">
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product1-2.jpg" alt="product thumb">
                </div>
                <div class="pdetails-singlethumb">
                  <img src="assets/images/products/product1-2.jpg" alt="product thumb">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pdetails-content">

              <div class="rattingbox">
                <span class="active"><i class="ion ion-ios-star"></i></span>
                <span class="active"><i class="ion ion-ios-star"></i></span>
                <span class="active"><i class="ion ion-ios-star"></i></span>
              </div>
              <h3>هواوي ميت10 لايت,شريحتين اتصال,تخزين حتي 64,رامات4,كاميراامامية16+2</h3>
              <div class="pdetails-pricebox">
                <del class="oldprice">ج.م 2000.90</del>
                <span class="price">ج.م 1800.11</span>
                <span class="badge">Save 3.5%</span>
              </div>
              <p>يأتي هاتف Huawei Mate 10 Lite بتصميم من الطراز الرفيع ويبلغ وزنه 164 جرام مع
                ارتفاع 156.2 مم وعرض 75 مم بينما يبلغ سمك الجوال 7.5 مم بالجهة الامامية للهاتف
                نجد شاشة الهاتف وبالأعلى سماعة المكالمات بجوارها الكاميرا الامامية المزدوجة
                ولمبة الاشعارات.بالجهة الخلفية للهاتف يوجد الكاميرا الخلفية المزدوجة مع الفلاش
                LED وبالمنتصف مستشعر بصمة الأصابع.علي يمين الهاتف أزرار التحكم في مستوي الصوت
                وزر فتح وغلق الهاتف وعلي يسار الهاتف مدخل شريحتي الاتصال او شريحة اتصال وكارت
                ميموري .أسفل الهاتف يوجد مدخل السماعات الخارجية 3.5 مم ومدخل USB ومكبرات الصوت
                الخارجي. يأتي الهاتف باللون الأزرق، الأسود والذهبي.</p>
              <div class="pdetails-quantity">
                <div class="quantity-select">
                  <input type="text" value="1">
                  <div class="inc qtybutton">+<i class="ion ion-ios-arrow-up"></i></div>
                  <div class="dec qtybutton">-<i class="ion ion-ios-arrow-down"></i></div>
                </div>
                <a href="shop-rightsidebar.html" class="ho-button">
                  <i class="lnr lnr-cart"></i>
                  <span>أضف إلي العربة</span>
                </a>
              </div>
              <div class="pdetails-categories">
                <span>القسم :</span>
                <ul>
                  <li><a href="#">الهواتف</a></li>
                </ul>
              </div>
              <div class="pdetails-tags">
                <span>الكلمات الدالة : </span>
                <ul>
                  <li><a href="#">الهواتف</a></li>
                  <li><a href="#">هواوي</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pdetails-allinfo">

        <ul class="nav pdetails-allinfotab justify-content-center" id="product-details" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="product-details-area1-tab" data-toggle="tab" href="#product-details-area1"
              role="tab" aria-controls="product-details-area1" aria-selected="true">الوصف</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-details-area3-tab" data-toggle="tab" href="#product-details-area3"
              role="tab" aria-controls="product-details-area3" aria-selected="false">التقييم (25)</a>
          </li>
        </ul>

        <div class="tab-content" id="product-details-ontent">
          <div class="tab-pane fade show active" id="product-details-area1" role="tabpanel"
            aria-labelledby="product-details-area1-tab">
            <div class="pdetails-description">
              <p>يأتي هاتف Huawei Mate 10 Lite بتصميم من الطراز الرفيع ويبلغ وزنه 164 جرام مع
                ارتفاع 156.2 مم وعرض 75 مم بينما يبلغ سمك الجوال 7.5 مم بالجهة الامامية للهاتف
                نجد شاشة الهاتف وبالأعلى سماعة المكالمات بجوارها الكاميرا الامامية المزدوجة
                ولمبة الاشعارات.بالجهة الخلفية للهاتف يوجد الكاميرا الخلفية المزدوجة مع الفلاش
                LED وبالمنتصف مستشعر بصمة الأصابع.علي يمين الهاتف أزرار التحكم في مستوي الصوت
                وزر فتح وغلق الهاتف وعلي يسار الهاتف مدخل شريحتي الاتصال او شريحة اتصال وكارت
                ميموري .أسفل الهاتف يوجد مدخل السماعات الخارجية 3.5 مم ومدخل USB ومكبرات الصوت
                الخارجي. يأتي الهاتف باللون الأزرق، الأسود والذهبي.</p>
              <ul>
                <li>UHD 4K Output up to 60 fps</li>
                <li>8.29MP, 1" CMOS Sensor</li>
                <li>Dual-Pixel CMOS Autofocus Feature</li>
                <li>Integrated 15x Optical Zoom Lens</li>
                <li>2 x DIGIC DV 6 Processors</li>
                <li>5-Axis Optical Image Stabilization</li>
                <li>Wide Dynamic Range Support</li>
                <li>Records 4K UHD/HD to Dual SD Card Slots</li>
                <li>3.5" Touchscreen LCD & 0.24" EVF</li>
                <li>Live Stream/FTP/Remote App via Wi-Fi</li>
              </ul>
            </div>
          </div>

          <div class="tab-pane fade" id="product-details-area3" role="tabpanel"
            aria-labelledby="product-details-area3-tab">
            <div class="pdetails-reviews">
              <div class="product-review">
                <div class="commentlist">
                  <h5>التعليقات و التقيمات</h5>
                  <div class="single-comment">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة أحمد محمد .... في 22 أغسطس 2018</h6>
                        <div class="rattingbox">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>هذا المنتج رائع يستحق التجربة .</p>
                    </div>
                  </div>

                  <div class="single-comment">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة أحمد محمد .... في 22 أغسطس 2018</h6>
                        <div class="rattingbox">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>هذا المنتج رائع يستحق التجربة .</p>
                    </div>
                  </div>
                  <div class="single-comment">
                    <div class="single-comment-content">
                      <div class="single-comment-content-top">
                        <h6>بواسطة أحمد محمد .... في 22 أغسطس 2018</h6>
                        <div class="rattingbox">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <p>هذا المنتج رائع يستحق التجربة .</p>
                    </div>
                  </div>
                </div>
                <div class="commentbox mt-5">
                  <h5>أضف تعليقك و تقييمك</h5>
                  <form action="#" class="ho-form">
                    <div class="ho-form-inner">
                      <div class="single-input">
                        <label>التقييم</label>
                        <div class="rattingbox hover-action">
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span class="active"><i class="ion ion-ios-star"></i></span>
                          <span><i class="ion ion-ios-star"></i></span>
                          <span><i class="ion ion-ios-star"></i></span>
                        </div>
                      </div>
                      <div class="single-input">
                        <label for="new-review-textbox">التعليق</label>
                        <textarea id="new-review-textbox" cols="30" rows="5"></textarea>
                      </div>
                      <div class="single-input">
                        <label for="new-review-name">الإسم *</label>
                        <input type="text" id="new-review-name">
                      </div>
                      <div class="single-input">
                        <label for="new-review-email">الإيميل *</label>
                        <input type="email" id="new-review-email">
                      </div>
                      <div class="single-input">
                        <button class="ho-button" type="submit"><span>إرسال</span></button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--// Product Details Area -->
</main>