<main class="page-content">

  <!-- Shopping Cart Area -->
  <div class="cart-page-area ptb-30 bg-white">
    <div class="container">

      <!-- Cart Products -->
      <div class="cart-table table-responsive">
        <table class="table table-bordered table-hover mb-0">
          <thead>
            <tr>
              <th class="cart-column-productname" scope="col">صورة المنتج</th>
              <th class="cart-column-quantity" scope="col">الإسم</th>
              <th class="cart-column-productname" scope="col">الكمية</th>
              <th class="cart-column-total" scope="col">سعر الشراء</th>
              <th class="cart-column-total" scope="col">حذف</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of cardData.selectedProducts">

              <td>
                <a class="product-image">
                  <img [src]="x.images[0].imageUrl" alt="product image">
                </a>
              </td>
              <td>
                <a class="product-title">{{x.name}}</a>
              </td>

              <td>
                <div class="quantity-select">
                  <input type="text" value="{{x.NumberOfItems}}" disabled>
                  <button class="inc qtybutton" (click)="addCartItem(x.ID,1)">+<i class="ion ion-ios-arrow-up"></i></button>
                  <button class="dec qtybutton" (click)="addCartItem(x.ID,-1)">-<i class="ion ion-ios-arrow-down"></i></button>
                </div>
              </td>
              <td>
                <span class="total-price">{{x.priceAfter}} ج.م</span>
              </td>
              <td>
                <button class="remove-product"><i class="ion ion-ios-close" (click)="deleteCartItem(x.ID)"></i></button>
              </td>
            </tr>
         
          </tbody>
        </table>
      </div>
      <!--// Cart Products -->

      <!-- Cart Content -->
      <div class="cart-content">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="cart-content-right">
              <h2>إجمالي الطلب</h2>
              <table class="cart-pricing-table">
                <tbody>
                  <tr class="cart-subtotal">
                    <th>إجمالي المنتجات</th>
                    <td>{{cardData.productsPrice}} ج.م</td>
                  </tr>
                  <tr class="cart-shipping">
                    <th>التوصيل</th>
                    <td>{{cardData.shipingPrice}} ج.م</td>
                  </tr>
                  <tr class="cart-total">
                    <th>الإجمالي</th>
                    <td>{{cardData.totalPrice}} ج.م</td>
                  </tr>
                </tbody>
              </table>
              <a [routerLink]="['/checkout']" class="ho-button">
                <span>متابعة الشراء</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--// Cart Content -->

    </div>
  </div>
  <!--// Shopping Cart Area -->
</main>


 <!-- Modal -->
 <div class="modal fade" id="confirmDeleteItemModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">لقد تم حذف المنتج من العربة</div>  
    </div>
  </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="confirmEditItemModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">لقد تم تعديل منتج من العربة</div>  
    </div>
  </div>
</div>