<app-slider></app-slider>

<main class="page-content">

  <!-- Features Area -->
  <div class="ho-section features-area bg-white pt-30">
    <div class="container">
      <div class="row">

        <!-- Single Feature -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-truck"></i>
            <h5>شحن سريع</h5>
            <p>الشحن أسرع ما يمكن</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-money-back"></i>
            <h5>ارجاع بكل سهولة</h5>
            <p>يمكنك إرجاع المنتج في اي وقت</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-null"></i>
            <h5>الدفع عند الإستلام</h5>
            <p>دفع النقدية عند الإستلام</p>
          </div>
        </div>
        <!--// Single Feature -->

      </div>
    </div>
  </div>
  <!--// Features Area -->

  <!-- Banners Area -->
  <div class="banners-area bg-white">
    <div class="container">
      <div class="row">

        <!-- Single Banner -->
        <div class="col-md-4">
          <div class="imgbanner mt-30">
            <a href="#">
              <img src="assets/images/sales/sales1.jpg" alt="sales image">
            </a>
          </div>
        </div>
        <!--// Single Banner -->

        <!-- Single Banner -->
        <div class="col-md-4">
          <div class="imgbanner mt-30">
            <a href="#">
              <img src="assets/images/sales/sales2.jpg" alt="sales image">
            </a>
          </div>
        </div>
        <!--// Single Banner -->

        <!-- Single Banner -->
        <div class="col-md-4">
          <div class="imgbanner mt-30">
            <a href="#">
              <img src="assets/images/sales/sales3.jpg" alt="sales image">
            </a>
          </div>
        </div>
        <!--// Single Banner -->

      </div>
    </div>
  </div>
  <!--// Banners Area -->

  <!-- Deal Of The Day Area -->
  <div class="ho-section deal-of-the-day-area bg-white ptb-30">
    <div class="container">
      <div class="section-title">
        <h3>عروض الجمل اليوم</h3>
      </div>
      <div class="product-slider deal-of-the-day-slider-2 slider-navigation-2 slider-dots">

        <!-- Single Product -->
        <div class="product-slider-col" *ngFor="let x of offers">
          <article class="hoproduct hoproduct-2">
            <div class="hoproduct-image">
              <a class="hoproduct-thumb" [routerLink]="['/product-details',x.ID]">
                <img class="hoproduct-frontimage" [src]="x.images[0].imageUrl" alt="product image">
                <img class="hoproduct-backimage" [src]="(x.images[1])?x.images[1].imageUrl:x.images[0].imageUrl" alt="product image">
              </a>
              <ul class="hoproduct-actionbox">
                <li><a (click)="AddToCart(x.ID)"><i class="lnr lnr-cart"></i></a></li>
                <li><a [routerLink]="['/product-details',x.ID]" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                <li (click)="addProductToFavourite(x.ID)" *ngIf="sharingDataService.loggedIn == true"><a><i class="lnr lnr-heart"></i></a></li>
              </ul>
             
            </div>
            <div class="hoproduct-content">
              <h5 class="hoproduct-title"><a [routerLink]="['/product-details',x.ID]">{{x.name}}</a></h5>
              <div class="hoproduct-rattingbox">
                <h6>تقييم {{x.rate}} </h6>
                <div class="rattingbox">
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                </div>
              </div>
              <div class="hoproduct-pricebox">
                <div class="pricebox">
                  <del class="oldprice">ج.م {{x.priceBefore}}</del>
                  <span class="price">ج.م {{x.priceAfter}}</span>
                </div>
                <span class="discount">{{x.discountPercentage}}</span>
              </div>
            </div>
          </article>
        </div>
        <!--// Single Product -->

      </div>
    </div>
  </div>
  <!--// Deal Of The Day Area -->


  <!-- Newsletter Area -->
  <div class="ho-section bg-grey ptb-20">
  </div>
  <!--// Newsletter Area -->
</main>

 <!-- Modal -->
 <div class="modal fade" id="confirmAddNewItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" style="text-align: center">لقد تم إضافة منتج جديد إلي العربة</div>  
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmAddFavouriteItemModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center">{{favouriteMessage}}</div>  
        </div>
      </div>
    </div>

