<app-slider></app-slider>

<main class="page-content">

  <!-- Features Area -->
  <div class="ho-section features-area bg-white pt-30">
    <div class="container">
      <div class="row">

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-free-delivery"></i>
            <h5>الشحن مجاني</h5>
            <p>الشحن مجاني داخل القاهرة و الجيزة</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-24-hours"></i>
            <h5>الدعم الفني</h5>
            <p>الدعم الفني متاح علي مدار اليوم طوال الإسبوع</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-money-back"></i>
            <h5>إستبدال المنتج</h5>
            <p>لديك 5 أيام فقط لإستبدال المنتج</p>
          </div>
        </div>
        <!--// Single Feature -->

        <!-- Single Feature -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="featurebox">
            <i class="flaticon-file"></i>
            <h5>شهادة ضمان</h5>
            <p>شهادة ضمان معتمدة رسميا</p>
          </div>
        </div>
        <!--// Single Feature -->

      </div>
    </div>
  </div>
  <!--// Features Area -->

  <!-- Banners Area -->
  <div class="banners-area bg-white">
    <div class="container">
      <div class="row">

        <!-- Single Banner -->
        <div class="col-md-4">
          <div class="imgbanner mt-30">
            <a href="#">
              <img src="assets/images/sales/sales1.jpg" alt="sales image">
            </a>
          </div>
        </div>
        <!--// Single Banner -->

        <!-- Single Banner -->
        <div class="col-md-4">
          <div class="imgbanner mt-30">
            <a href="#">
              <img src="assets/images/sales/sales2.jpg" alt="sales image">
            </a>
          </div>
        </div>
        <!--// Single Banner -->

        <!-- Single Banner -->
        <div class="col-md-4">
          <div class="imgbanner mt-30">
            <a href="#">
              <img src="assets/images/sales/sales3.jpg" alt="sales image">
            </a>
          </div>
        </div>
        <!--// Single Banner -->

      </div>
    </div>
  </div>
  <!--// Banners Area -->

  <!-- Deal Of The Day Area -->
  <div class="ho-section deal-of-the-day-area bg-white ptb-30">
    <div class="container">
      <div class="section-title">
        <h3>عروض الجمل اليوم</h3>
      </div>
      <div class="product-slider deal-of-the-day-slider-2 slider-navigation-2 slider-dots">

        <!-- Single Product -->
        <div class="product-slider-col" *ngFor="let x of offers">
          <article class="hoproduct hoproduct-2">
            <div class="hoproduct-image">
              <a class="hoproduct-thumb" [routerLink]="['/product-details',x.ID]">
                <img class="hoproduct-frontimage" [src]="x.images[0].imageUrl" alt="product image">
                <img class="hoproduct-backimage" [src]="x.images[1].imageUrl" alt="product image">
              </a>
              <ul class="hoproduct-actionbox">
                <li><a (click)="AddToCart(x.ID)"><i class="lnr lnr-cart"></i></a></li>
                <li><a [routerLink]="['/product-details',x.ID]" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                <li><a><i class="lnr lnr-heart"></i></a></li>
              </ul>
             
            </div>
            <div class="hoproduct-content">
              <h5 class="hoproduct-title"><a [routerLink]="['/product-details',x.ID]">{{x.name}}</a></h5>
              <div class="hoproduct-rattingbox">
                <h6>تقييم {{x.rate}} </h6>
                <div class="rattingbox">
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                  <span class="active"><i class="ion ion-ios-star"></i></span>
                </div>
              </div>
              <div class="hoproduct-pricebox">
                <div class="pricebox">
                  <del class="oldprice">ج.م {{x.priceBefore}}</del>
                  <span class="price">ج.م {{x.priceAfter}}</span>
                </div>
                <span class="discount">{{x.discountPercentage}}</span>
              </div>
            </div>
          </article>
        </div>
        <!--// Single Product -->

      </div>
    </div>
  </div>
  <!--// Deal Of The Day Area -->


  <!-- Newsletter Area -->
  <div class="ho-section bg-grey ptb-20">
  </div>
  <!--// Newsletter Area -->
</main>