<main class="page-content">

    <!-- Contact Us Area -->
    <div class="pdetails-description">
        <div class="container">
            <div class="row">
                <h2>من نحن</h2>

               <p>مؤسسة الجمل هى احدى المؤسسات التى اكتسبت شهرة على مدار اكثر من اثنتى عشر عاما ومنذ ذلك الحين ونحن ضمن كبري المؤسسات التي  تعمل في مجال تكنولوجيا المعلومات. 
                  والمؤسسة تــدار بـواسطة خبراء متخصصين في تكنولوجيا المعلومات مما جعل المؤسسة تمتلك خبرة كبيرة جعلتها من المؤسســات الرائدة في السوق المصرى وتسعى االمؤسسة  في تقديم الحلول المتكاملة للمؤسســات والهيئـــات والشـــركات والافراد التي ترغـــب في تطوير أنظمة تكنولوجيا المعلومات لديها .
                  
                  </p>
            </div>
        </div>
    </div>

</main>