<main class="page-content">

    <!-- Shopping Cart Area -->
    <div class="cart-page-area ptb-30 bg-white" *ngIf="orderDetails.OrderDetails.length > 0">
        <div class="container">

            <!-- Cart Products -->
            <div class="cart-table table-responsive">
                <table class="table table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="cart-column-productname" scope="col">صورة المنتج</th>
                            <th class="cart-column-quantity" scope="col">الإسم</th>
                            <th class="cart-column-productname" scope="col">الكمية</th>
                            <th class="cart-column-total" scope="col">سعر الشراء</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of orderDetails.OrderDetails">

                            <td>
                                <a class="product-image">
                                    <img (click)="navigateToOrderDetailsPage(x.productID)" [src]="x.image.imageUrl" alt="product image">
                                </a>
                            </td>
                            <td>
                                <a (click)="navigateToOrderDetailsPage(x.productID)" class="product-title">{{x.name}}</a>
                            </td>

                            <td>
                                <div class="quantity-select">
                                    <span>{{x.NumberOfItems}}</span>
                                </div>
                            </td>
                            <td>
                                <span class="total-price">{{x.buyingPrice}} ج.م</span>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <!--// Cart Products -->

            <!-- Cart Content -->
            <div class="cart-content">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="cart-content-right">
                            <h2>إجمالي الطلب</h2>
                            <table class="cart-pricing-table">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>إجمالي المنتجات</th>
                                        <td>{{orderDetails.total}} ج.م</td>
                                    </tr>
                                    <tr class="cart-shipping">
                                        <th>التوصيل</th>
                                        <td>{{orderDetails.shippingAmount}} ج.م</td>
                                    </tr>
                                    <tr class="cart-total">
                                        <th>الإجمالي</th>
                                        <td>{{orderDetails.total + orderDetails.shippingAmount}} ج.م</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>
          

        </div>
    </div>

</main>