<main class="page-content">

  <!-- Shopping Cart Area -->
  <div class="cart-page-area ptb-30 bg-white">
      <div class="container">

          <!-- Cart Products -->
          <div class="cart-table table-responsive">
              <table class="table table-bordered table-hover mb-0">
                  <thead>
                      <tr>
                          <th class="cart-column-image" scope="col">صورة المنتج</th>
                          <th class="cart-column-productname" scope="col">إسم المنتج</th>
                          <th class="cart-column-price" scope="col">السعر</th>
                          <th class="cart-column-quantity" scope="col">الكمية</th>
                          <th class="cart-column-total" scope="col">الإجمالي</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <a href="product-details.html" class="product-image">
                                  <img src="assets/images/products/product1-2.jpg" alt="product image">
                              </a>
                          </td>
                          <td>
                              <a href="product-details-right-sidebar.html" class="product-title">هواوي ميت10
                                  لايت,شريحتين اتصال,تخزين حتي 64,رامات4,كاميراامامية16+2</a>
                          </td>
                          <td>ج.م 75.00</td>
                          <td>
                              <div class="quantity-select">
                                  <input type="text" value="1">
                                  <div class="inc qtybutton">+<i class="ion ion-ios-arrow-up"></i></div>
                                  <div class="dec qtybutton">-<i class="ion ion-ios-arrow-down"></i></div>
                              </div>
                          </td>
                          <td>
                              <span class="total-price">ج.م 75.00</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="product-details.html" class="product-image">
                                  <img src="assets/images/products/product1.jpg" alt="product image">
                              </a>
                          </td>
                          <td>
                              <a href="product-details-right-sidebar.html" class="product-title">هواوي ميت10
                                  لايت,شريحتين اتصال,تخزين حتي 64,رامات4,كاميراامامية16+2</a>
                          </td>
                          <td>ج.م 75.00</td>
                          <td>
                              <div class="quantity-select">
                                  <input type="text" value="1">
                                  <div class="inc qtybutton">+<i class="ion ion-ios-arrow-up"></i></div>
                                  <div class="dec qtybutton">-<i class="ion ion-ios-arrow-down"></i></div>
                              </div>
                          </td>
                          <td>
                              <span class="total-price">ج.م 75.00</span>
                          </td>
                      </tr>

                      <tr>
                          <td>
                              <a href="product-details.html" class="product-image">
                                  <img src="assets/images/products/product2.jpg" alt="product image">
                              </a>
                          </td>
                          <td>
                              <a href="product-details-right-sidebar.html" class="product-title">هواوي ميت10
                                  لايت,شريحتين اتصال,تخزين حتي 64,رامات4,كاميراامامية16+2</a>
                          </td>
                          <td>ج.م 75.00</td>
                          <td>
                              <div class="quantity-select">
                                  <input type="text" value="1">
                                  <div class="inc qtybutton">+<i class="ion ion-ios-arrow-up"></i></div>
                                  <div class="dec qtybutton">-<i class="ion ion-ios-arrow-down"></i></div>
                              </div>
                          </td>
                          <td>
                              <span class="total-price">ج.م 75.00</span>
                          </td>

                      </tr>

                  </tbody>
              </table>
          </div>
          <!--// Cart Products -->

          <!-- Cart Content -->
          <div class="cart-content">
              <div class="row justify-content-between">
                  <div class="col-lg-4 col-md-6 col-12">
                      <div class="cart-content-right">
                          <h2>إجمالي الطلب</h2>
                          <table class="cart-pricing-table">
                              <tbody>
                                  <tr class="cart-subtotal">
                                      <th>إجمالي المنتجات</th>
                                      <td>ج.م 715.00</td>
                                  </tr>
                                  <tr class="cart-shipping">
                                      <th>التوصيل</th>
                                      <td>ج.م 0.00</td>
                                  </tr>
                                  <tr class="cart-total">
                                      <th>الإجمالي</th>
                                      <td>ج.م 722.00</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!--// Cart Content -->

      </div>
  </div>
  <!--// Shopping Cart Area -->
  </main>