<main class="page-content">
  <!-- My Account Page -->
  <div class="my-account-area ptb-30">
    <div class="container">
      <div class="row">

        <!-- Login Form -->
        <div class="col-lg-6">
          <div class="login-form-wrapper">
            <form action="#" class="ho-form ho-form-boxed">
              <div class="ho-form-inner">
                <div class="single-input">
                  <label for="login-form-email">الإيميل *</label>
                  <input type="text" name="login-form-email" id="login-form-email">
                </div>
                <div class="single-input">
                  <label for="login-form-password">الباسورد *</label>
                  <input type="password" name="login-form-password" id="login-form-password">
                </div>
                <div class="single-input">
                  <button type="submit" class="ho-button ho-button-dark mr-3">
                    <span>تسجيل الدخول</span>
                  </button>
                  <button type="button" class="mr-3 btn-facebook"><i class="fab fa-facebook-f"></i></button>
                  <button type="button" class="mr-3 btn-google"><i class="fab fa-google"></i></button>

                </div>
              </div>
            </form>
          </div>
        </div>
        <!--// Login Form -->

        <!-- Register Form -->
        <div class="col-lg-6 mt-30 mt-lg-0">
          <div class="login-form-wrapper">
            <form action="#" class="ho-form ho-form-boxed">
              <div class="ho-form-inner">
                <div class="single-input">
                  <label for="register-form-name">إسم المستخدم *</label>
                  <input type="text" name="register-form-name" id="register-form-name">
                </div>
                <div class="single-input">
                  <label for="register-form-email">الإيميل *</label>
                  <input type="text" name="register-form-email" id="register-form-email">
                </div>
                <div class="single-input">
                  <label for="register-form-password">الباسورد *</label>
                  <input type="password" name="register-form-password" id="register-form-password">
                </div>
                <div class="single-input">
                  <button type="submit" class="ho-button ho-button-dark mr-3">
                    <span>إنشاء حساب</span>
                  </button>

                  <button type="button" class="mr-3 btn-facebook"><i class="fab fa-facebook-f"></i></button>
                  <button type="button" class="mr-3 btn-google"><i class="fab fa-google"></i></button>

                </div>
              </div>
            </form>
          </div>
        </div>
        <!--// Register Form -->

      </div>
    </div>
  </div>
  <!--// My Account Page -->
</main>